body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#drawer-header {
  /* border-right: 1px solid #000; */
  /* border-bottom: 1px solid grey; */
}

.drawer-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.055);

}

.container {
  display: flex;
  flex-direction: column;
  justifyContent: 'flex-end',
}